* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

.container {
    border: 2px solid black;
}

.clearfix {
    content: ("");
    display: table;
    clear: both;
}

#header-top {
    margin: auto;
    max-width: 1200px;
    height: 100px;
    background-color: #F5F8FA;
}
/* IDEA:     border: 1px solid rgb(51, 71, 91);
 */

#header-bottom {
    margin: auto;
    height: 100px;
    max-width: 1200px;
    background-color: white;
}

#header-top-left {
    margin: auto;
    width: 50%;
    height: 100px;
    float: left;
    color: #33475b;
    font-weight: bold;
}

#header-top-right {
    margin: auto;
    width: 50%;
    height: 100px;
    background-color: #F5F8FA;
    float: left;
    display: inline-block;
}

a {
    text-decoration: none;
}

.button {
    border-radius: 5px;
    background-color: white;
    color: #ff7a59;
    border-color: #ff7a59;
    padding: 2%;
    line-height: 100%;
    font-weight: 400;
}

.orange-button {
    border-radius: 5px;
    background-color: #ff7a59;
    color: white;
    padding: 2%;
    line-height: 100%;
    font-weight: 400;
}

#header-bottom-left {
    margin: auto;
    width: 40%;
    height: 100px;
    background-color: white;
    float: left;
    position: relative;
}

#header-bottom-left img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#header-bottom-right {
    margin: auto;
    width: 60%;
    height: 100px;
    background-color: white;
    float: left;
    position: relative;

}

#header-bottom-right ul {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 10px;
}

#header-bottom-right li{
    list-style: none;
    line-height: 100%;
    display: inline-block;
    margin: right;
    font-size: 15px;
    color: #33475b;
    padding: 20px;
    font-weight: bold;
}

#section1 {
    max-width: 1200px;
    height: 600px;
    background-color: purple;
    margin: auto;
}

#section1-left {
    margin: auto;
    width: 40%;
    height: 600px;
    background-color: #FFF2EE;
    float: left;
    color: #33475b;
    padding: 10%;
}

#section1-left h1 {
    font-size: 40px;
    font-weight: 700;
    padding-left: 10%;
}

#section1-right {
    margin: auto;
    width: 60%;
    height: 600px;
    background-color: #FFF2EE;
    float: left;
}
